<div class="wrapper out-of-dialog">
  <md-card>
    <h4 md-card-title>
      Вход на сайт
    </h4>
    <div md-card-content>
      <div class="input">
        <md-input-container>
          <input type="text" mdInput placeholder="E-mail" [(ngModel)]="model.login">
        </md-input-container>
      </div>
      <div class="input">
        <md-input-container>
          <input type="password" mdInput placeholder="Пароль" [(ngModel)]="model.password">
        </md-input-container>
      </div>
    </div>
    <div md-card-actions>
      <button md-button color="primary" (click)="signIn()">Войти</button>
      <button md-button color="warn" (click)="cancel()">Отмена</button>
    </div>
  </md-card>
</div>

