<md-toolbar color="primary" class="mat-elevation-z6">
  <button md-button routerLink="/">
    <md-icon>all_inclusive</md-icon>
    Task Manager
  </button>
  <div class="space"></div>
  <button md-button (click)="signIn()" *ngIf="!isAuthentificated">
    <md-icon>group</md-icon>
    Sign In
  </button>
  <button md-button (click)="signUp()" *ngIf="!isAuthentificated">
    <md-icon>group_add</md-icon>
    Sign Up
  </button>
  <button md-button (click)="signOut()" *ngIf="isAuthentificated">
    <md-icon>lock</md-icon>
    Sign Out
  </button>
</md-toolbar>
<router-outlet></router-outlet>